@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center" id="welcome-div">
    <h1 style="font-family: 'Pacifico', cursive;color: #efe50b;" >Welcome to the Bleakwind Buffet</h1>
    <p>
        We at Bleakwind Buffet are proud to bring you authentic fantasy meals straight from the world of Skyrim.
        Shake the blood off your sword and sake your thirst with one of our old-fashioned sailor sodas. Hack into
        a Smokehouse Skeleton with your dagger. Or vanquish the the mighty Thalmor Triple Burger! You’ve had a
        hard adventure and earned your loot, so spend it with us!
    </p>
</div>

<div class="image-div">
    <div class="menu-div">
        <h2 style="font-size:9rem;color: white;">Menu</h2>
    </div>

</div>

<div style="position: sticky;top: 0;background-color: white; z-index:10;">
    <div class="row d-flex justify-content-left">
        <div class="card p-4 mt-3">
            <form id="item-database">
                <div class="d-flex justify-content-center px-5">
                    <div id="search">
                        <input type="text" name="SearchTerms" value="@Model.SearchTerms" placeholder="Search Our Menu..." />
                        <input type="submit" value="Search">
                    </div>
                </div>

                <div class="row mt-4 g-1 px-4 mb-5 justify-content-around">
                    <div>
                        <h6 class="d-flex justify-content-center">Categories</h6>
                        @foreach (String category in BleakwindBuffet.Data.Menu.Menu.Category)
                        {
                            <label class="column d-flex">
                                <input type="checkbox" name="Categories" value="@category" checked="@Model.Categories.Contains(category)" />
                                @category
                            </label>
                        }
                    </div>
                    <div>
                        <h6 class="d-flex justify-content-center">Price</h6>
                        <div column d-flex>
                            <div><input name="PriceMin" type="number" min="0" max="100" step="0.01" placeholder="min" value="@Model.PriceMin" /></div>
                            <div><input name="PriceMax" type="number" min="0" max="100" step="0.01" placeholder="max" value="@Model.PriceMax" /></div>
                        </div>
                    </div>
                    <div>
                        <h6 class="d-flex justify-content-center">Calories</h6>
                        <div column d-flex>
                            <div><input name="CaloriesMin" type="number" min="0" max="10000" step="1" placeholder="min" value="@Model.CaloriesMin" /></div>
                            <div><input name="CaloriesMax" type="number" min="0" max="10000" step="1" placeholder="max" value="@Model.CaloriesMax" /></div>
                        </div>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>

        <div>
            <div class="flex-columns">
                <div class="col-md-4">
                    <h2 class="text-center">Entrees</h2>
                    <ul class="list-group">
                        @foreach (BleakwindBuffet.Data.Interface.IOrderItem entree in Model.Items)
                        {
                            @if (entree is BleakwindBuffet.Data.Entrees.Entree)
                            {
                                <li class="list-item" style="background-color: #b6eef5">
                                    <div class="menu-item">
                                        <h5 class="name">@entree.ToString()</h5>
                                        <div class="price"><span style="color: #efe50b">Price</span>: $@entree.Price</div>
                                        <div class="calories"><span style="color: #ff39f8">Calories</span>: @entree.Calories</div>
                                        <div class="description"><span style="color: #50ff57">Description</span>: @entree.Description</div>
                                    </div>
                                </li>
                            }
                        }
                    </ul>
                </div>
                <div class="col-md-4">
                    <h2 class="text-center">Drinks</h2>
                    <ul class="list-group">
                        @foreach (BleakwindBuffet.Data.Interface.IOrderItem drink in Model.Items)
                        {
                            @if (drink is BleakwindBuffet.Data.Drinks.Drink)
                            {
                                BleakwindBuffet.Data.Drinks.Drink drinkDrink = (BleakwindBuffet.Data.Drinks.Drink)drink;
                                <li class="list-item" style="background-color: #8BFF90">
                                    <div>
                                        <h5 class="name">@drinkDrink.ToStringProperty</h5>
                                        <div class="price"><span style="color: #efe50b">Price</span>: $@drink.Price</div>
                                        <div class="calories"><span style="color: #ff39f8">Calories</span>: @drink.Calories</div>
                                        <div class="description"><span style="color: #50ff57">Description</span>: @drink.Description</div>
                                    </div>
                                </li>
                            }
                        }
                    </ul>
                </div>
                <div class="col-md-4">
                    <h2 class="text-center">Sides</h2>
                    <ul class="list-group">
                        @foreach (BleakwindBuffet.Data.Interface.IOrderItem side in Model.Items)
                        {
                            @if (side is BleakwindBuffet.Data.Sides.Side)
                            {
                                <li class="list-item" style="background-color:#FFC9FD">
                                    <div>
                                        <h5 class="name">@side.ToString()</h5>
                                        <div class="price"><span style="color: #efe50b">Price</span>: $@side.Price</div>
                                        <div class="calories"><span style="color: #ff39f8">Calories</span>: @side.Calories</div>
                                        <div class="description"><span style="color: #50ff57">Description</span>: @side.Description</div>
                                    </div>
                                </li>
                            }
                        }
                    </ul>
                </div>
            </div>
        </div>
        
    

    <div class="combo-details">
        <h4>Any one entree, side, and drink can be combined into a Combo with a $1 discount.</h4>
    </div>
    <h4>Available flavors for the Sailor Soda include:</h4>
    <ul class="list-group-horizontal">
        <li class="list-group-item border-0">
            <span style="color: red">@BleakwindBuffet.Data.Enums.SodaFlavor.Cherry</span>
        </li>
        <li class="list-group-item border-0">
            <span style="color: purple"> @BleakwindBuffet.Data.Enums.SodaFlavor.Blackberry</span>
        </li>
        <li class="list-group-item border-0">
            <span style="color: orangered">@BleakwindBuffet.Data.Enums.SodaFlavor.Grapefruit</span>
        </li>
        <li class="list-group-item border-0">
            <span style="color: deeppink">@BleakwindBuffet.Data.Enums.SodaFlavor.Peach</span>
        </li>
        <li class="list-group-item border-0">
            <span style="color: darkkhaki">@BleakwindBuffet.Data.Enums.SodaFlavor.Lemon</span>
        </li>
        <li class="list-group-item border-0">
            <span style="color: forestgreen">@BleakwindBuffet.Data.Enums.SodaFlavor.Watermelon</span>
        </li>

    </ul>



